version: 2.1

jobs:
  test:
    docker:
      # We use node-browsers because we will implement E2E test in this project
      - image: circleci/node:14-browsers

    working_directory: ~/repo

    steps:
      # Checkout code from repository to working dir
      - checkout

      # Restore cache if exist
      - restore_cache:
          keys:
            - writedown-{{ checksum "package.json" }}
            - writedown-

      - run:
          name: Install the packages
          command: yarn install

      # Save cache with corresponding key
      - save_cache:
          paths:
            - node_modules
            - ~/.npm
            - ~/.cache
          key: writedown-{{ checksum "package.json" }}

      - run:
          name: Lint the project source files
          command: yarn lint

      - run:
          name: Test the project
          command: yarn test

  build:
    docker:
      - image: circleci/node:14

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
            - writedown-{{ checksum "package.json" }}
            - writedown-

      - run:
          name: Install the packages
          command: yarn install

      - save_cache:
          paths:
            - node_modules
            - ~/.npm
            - ~/.cache
          key: writedown-{{ checksum "package.json" }}

      - run:
          name: Build the project
          command: yarn build

      - persist_to_workspace:
          root: ./build
          paths:
            - ./*

workflows:
  main:
    jobs:
      - test
      - build
